.color1:hover{
    background-color: #8064A2;
    color: white;
}
.color2:hover{
    background-color: #77933C;
    color: white;
}
.color3:hover{
    background-color: #C0504D;
    color: white;
}
.color4:hover{
    background-color: #0096C8;
    color: white;
}